### VS Code ###
# Workspace data
.idea/
.vscode/
.project/
.venv/
db.sqlite3
*.env
*.bak
docs/
media/


# Mac only
.DS_Store

### Python ###
# Byte-compiled / optimized / DLL files
build/
dist/
__pycache__/
*.py[cod]